<% title "Welcome" %>

<h3>Tables</h3>
<p><%= link_to "New Table", new_table_path if permitted_to? :new, :tables %></p>
<%= render "tables/list", :list => current_user.tables %>

<% if current_user.reports.size > 0 %>
  <h3>Reports</h3>
  <%= render "reports/list", :list => current_user.reports %>
<% end %>