<% title "Archive: " + @daily_table.name %>

<%= content_tag(:p, link_to("Back to table", daily_table_path(@daily_table))) if permitted_to? :show, @daily_table %>
<p><strong>Archiving</strong> this table will archive all of the associated reports.</p>
<p>These reports will also have their respective files deleted and unavailable until unarchived.</p>

<% if permitted_to? :destroy, @daily_table %>
  <p><strong>Deleting</strong> this daily will delete all of the associated reports and files.</p>
<% end %>

<% if @daily_table.reports.size == 0 %>
  <h3>No reports based on this table.</h3>
<% else %>
  <h3>Reports based on this table</h3>
  <%= render "daily_reports/list", :list => @daily_table.reports %>
<% end %>

<hr/>

<%= button_to "Archive", archiveit_daily_table_path(@daily_table) if permitted_to? :archiveit, @daily_table %>
<%= button_to "Delete", daily_table_path(@daily_table), :method => :delete if permitted_to? :destroy, @daily_table %>