<% if list.size > 0 %>
  <ul>
    <% list.each do |table| %>
      <% if permitted_to? :show, table %>
        <li><%= link_to table.name, table %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>